In [1]:
from pyspark.sql import SparkSession

In [2]:
from pyspark.sql import SparkSession

def init_spark():
    spark = SparkSession.builder.appName("CrimeOneYear").getOrCreate()
    sc = spark.sparkContext
    return spark,sc

In [3]:
spark,sc = init_spark()
df = spark.read.format("csv").option("header", "true").option("mode", "DROPMALFORMED").load("dataset_crime.csv")

In [33]:
df.schema.names

['CASE#',
 'DATE  OF OCCURRENCE',
 'BLOCK',
 ' IUCR',
 ' PRIMARY DESCRIPTION',
 ' SECONDARY DESCRIPTION',
 ' LOCATION DESCRIPTION',
 'ARREST',
 'DOMESTIC',
 'BEAT',
 'WARD',
 'FBI CD',
 'X COORDINATE',
 'Y COORDINATE',
 'LATITUDE',
 'LONGITUDE',
 'LOCATION']

In [5]:
df.registerTempTable("table1")

In [28]:
df2 = spark.sql("select ` LOCATION DESCRIPTION`,` PRIMARY DESCRIPTION`, count(*) as Total from table1 GROUP BY ` LOCATION DESCRIPTION`,` PRIMARY DESCRIPTION` ORDER BY count(*) desc")

In [34]:
df2.show()

+---------------------+--------------------+-----+
| LOCATION DESCRIPTION| PRIMARY DESCRIPTION|Total|
+---------------------+--------------------+-----+
|               STREET|               THEFT|15042|
|            APARTMENT|             BATTERY|12229|
|            RESIDENCE|             BATTERY|10469|
|               STREET|     CRIMINAL DAMAGE| 9562|
|               STREET| MOTOR VEHICLE THEFT| 7044|
|               STREET|             BATTERY| 6612|
|            RESIDENCE|       OTHER OFFENSE| 6258|
|             SIDEWALK|             BATTERY| 6217|
|            RESIDENCE|  DECEPTIVE PRACTICE| 5276|
|            RESIDENCE|     CRIMINAL DAMAGE| 5045|
|            RESIDENCE|               THEFT| 5029|
|   SMALL RETAIL STORE|               THEFT| 4384|
|               STREET|           NARCOTICS| 4251|
|            APARTMENT|               THEFT| 4125|
|             SIDEWALK|           NARCOTICS| 4093|
|            APARTMENT|     CRIMINAL DAMAGE| 3759|
|            RESIDENCE|            BURGLARY| 3711|
|            APARTMENT|            BURGLARY| 3677|
|               STREET|       OTHER OFFENSE| 3611|
|               STREET|             ASSAULT| 3557|
+---------------------+--------------------+-----+
only showing top 20 rows

ParseException: "\nmismatched input 'from' expecting <EOF>(line 1, pos 63)\n\n== SQL ==\nSelect ` LOCATION DESCRIPTION`,` PRIMARY DESCRIPTION`,count(*) from( select ` LOCATION DESCRIPTION`,` PRIMARY DESCRIPTION`,count(*),ROW_NUMBER() OVER( GROUP BY ` LOCATION DESCRIPTION`,` PRIMARY DESCRIPTION` PARTITION BY ` LOCATION DESCRIPTION` ORDER BY count(*)) rn from table1) a where rn = 1\n---------------------------------------------------------------^^^\n"

In [23]:
df2.show()

+---------------------+--------------------+--------+
| LOCATION DESCRIPTION| PRIMARY DESCRIPTION|count(1)|
+---------------------+--------------------+--------+
| CTA GARAGE / OTHE...|     CRIMINAL DAMAGE|       1|
| AIRPORT TERMINAL ...|               THEFT|       1|
| AIRPORT TERMINAL ...|   CRIMINAL TRESPASS|       1|
| POLICE FACILITY/V...|           NARCOTICS|       1|
|     FEDERAL BUILDING|             BATTERY|       1|
| MEDICAL/DENTAL OF...|               THEFT|       1|
|             HOSPITAL|            HOMICIDE|       1|
|             CAR WASH| MOTOR VEHICLE THEFT|       1|
|          CTA STATION|  DECEPTIVE PRACTICE|       1|
| SCHOOL, PUBLIC, G...|             BATTERY|       1|
|           VACANT LOT|            HOMICIDE|       1|
| SCHOOL, PRIVATE, ...|       OTHER OFFENSE|       1|
|             DRIVEWAY|            HOMICIDE|       1|
|             CEMETARY|     CRIMINAL DAMAGE|       1|
|                HOUSE|            HOMICIDE|       1|
| VEHICLE - OTHER R...|             BATTERY|       1|
|   VEHICLE-COMMERCIAL|             ASSAULT|       1|
|             SIDEWALK|           NARCOTICS|       1|
|     AIRPORT/AIRCRAFT|           NARCOTICS|       1|
| AIRPORT EXTERIOR ...|             BATTERY|       1|
+---------------------+--------------------+--------+
only showing top 20 rows

['CASE#',
 'DATE  OF OCCURRENCE',
 'BLOCK',
 ' IUCR',
 ' PRIMARY DESCRIPTION',
 ' SECONDARY DESCRIPTION',
 ' LOCATION DESCRIPTION',
 'ARREST',
 'DOMESTIC',
 'BEAT',
 'WARD',
 'FBI CD',
 'X COORDINATE',
 'Y COORDINATE',
 'LATITUDE',
 'LONGITUDE',
 'LOCATION']