In [1]:
from pyspark.sql import SparkSession

In [2]:
from pyspark.sql import SparkSession

def init_spark():
    spark = SparkSession.builder.appName("CrimeOneYear").getOrCreate()
    sc = spark.sparkContext
    return spark,sc

In [3]:
spark,sc = init_spark()
df = spark.read.format("csv").option("header", "true").option("mode", "DROPMALFORMED").load("dataset_crimes.csv")

In [4]:
df.schema.names

['CASE#',
 'DATE  OF OCCURRENCE',
 'BLOCK',
 ' IUCR',
 ' PRIMARY DESCRIPTION',
 ' SECONDARY DESCRIPTION',
 ' LOCATION DESCRIPTION',
 'ARREST',
 'DOMESTIC',
 'BEAT',
 'WARD',
 'FBI CD',
 'X COORDINATE',
 'Y COORDINATE',
 'LATITUDE',
 'LONGITUDE',
 'LOCATION']

In [5]:
df.count()

264807

In [6]:
df.registerTempTable("table_crime")

In [32]:
df2 = spark.sql("select ` LOCATION DESCRIPTION`,` PRIMARY DESCRIPTION`, count(*) as Total from table_crime GROUP BY ` LOCATION DESCRIPTION`,` PRIMARY DESCRIPTION` ORDER BY count(*) desc")

In [8]:
#Most Common Location and Crime || Tempat dan kejahatan paling sering

In [33]:
df2.show(30)

+---------------------+--------------------+-----+
| LOCATION DESCRIPTION| PRIMARY DESCRIPTION|Total|
+---------------------+--------------------+-----+
|               STREET|               THEFT|15045|
|            APARTMENT|             BATTERY|12205|
|            RESIDENCE|             BATTERY|10464|
|               STREET|     CRIMINAL DAMAGE| 9547|
|               STREET| MOTOR VEHICLE THEFT| 7050|
|               STREET|             BATTERY| 6598|
|            RESIDENCE|       OTHER OFFENSE| 6268|
|             SIDEWALK|             BATTERY| 6218|
|            RESIDENCE|  DECEPTIVE PRACTICE| 5275|
|            RESIDENCE|     CRIMINAL DAMAGE| 5040|
|            RESIDENCE|               THEFT| 5017|
|   SMALL RETAIL STORE|               THEFT| 4389|
|               STREET|           NARCOTICS| 4256|
|            APARTMENT|               THEFT| 4125|
|             SIDEWALK|           NARCOTICS| 4089|
|            APARTMENT|     CRIMINAL DAMAGE| 3759|
|            RESIDENCE|            BURGLARY| 3711|
|            APARTMENT|            BURGLARY| 3676|
|               STREET|       OTHER OFFENSE| 3617|
|               STREET|             ASSAULT| 3555|
|     DEPARTMENT STORE|               THEFT| 3550|
|            RESIDENCE|             ASSAULT| 3486|
|           RESTAURANT|               THEFT| 3300|
|            APARTMENT|             ASSAULT| 3270|
|                OTHER|               THEFT| 2993|
|             SIDEWALK|             ROBBERY| 2825|
|            APARTMENT|       OTHER OFFENSE| 2734|
|               STREET|             ROBBERY| 2727|
| PARKING LOT/GARAG...|               THEFT| 2593|
|             SIDEWALK|               THEFT| 2549|
+---------------------+--------------------+-----+
only showing top 30 rows

In [12]:
df2 = spark.sql("select ` SECONDARY DESCRIPTION` as `Most Common Theft Crime`,count(*) as Total from table_crime where ` PRIMARY DESCRIPTION` = 'THEFT' group by ` SECONDARY DESCRIPTION` ORDER BY count(*) desc")

In [13]:
#Most Common Theft Crime || Kasus pencurian paling sericng

In [14]:
df2.show()

+-----------------------+-----+
|Most Common Theft Crime|Total|
+-----------------------+-----+
|         $500 AND UNDER|24416|
|              OVER $500|15340|
|          FROM BUILDING|10943|
|           RETAIL THEFT|10694|
|         POCKET-PICKING| 2490|
|        PURSE-SNATCHING|  566|
|          ATTEMPT THEFT|  419|
|   DELIVERY CONTAINE...|   41|
|   FROM COIN-OP MACH...|   25|
+-----------------------+-----+

In [29]:
df2 = spark.sql("select ` LOCATION DESCRIPTION`,count(*) as `Number of Arrested Case` from table_crime where `DOMESTIC` = 'Y' and `ARREST` = 'Y' group by ` LOCATION DESCRIPTION` order by COUNT(*) DESC")

In [ ]:
#Number of Arrested Domestic Case on Diffrent Location || Jumlah kasus kekerasan rumah tangga yang berhasil ditangkap di berbagai lokasi

In [30]:
df2.show()

+---------------------+-----------------------+
| LOCATION DESCRIPTION|Number of Arrested Case|
+---------------------+-----------------------+
|            APARTMENT|                   2817|
|            RESIDENCE|                   2369|
|               STREET|                    717|
|             SIDEWALK|                    427|
| RESIDENTIAL YARD ...|                    159|
| RESIDENCE PORCH/H...|                    127|
|                ALLEY|                     83|
| VEHICLE NON-COMME...|                     82|
| PARKING LOT/GARAG...|                     72|
|                OTHER|                     62|
|        CHA APARTMENT|                     61|
|          HOTEL/MOTEL|                     36|
|          GAS STATION|                     28|
|           RESTAURANT|                     21|
|     RESIDENCE-GARAGE|                     17|
|        PARK PROPERTY|                     16|
|        BAR OR TAVERN|                     16|
| SCHOOL, PUBLIC, B...|                     14|
| POLICE FACILITY/V...|                     12|
| HOSPITAL BUILDING...|                     12|
+---------------------+-----------------------+
only showing top 20 rows